@import url(https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap);

body{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}


.flex--container{
    display: flex;
    flex-direction: column;
    flex : 30rem;
    align-items: center;
    justify-self: center;
    justify-content: center;
    height: auto;
    max-width: 30rem;
}